<h2> Create new Team!</h2>
<form method="POST" action="/teams">
	<div class="form-group">
		<label>Team Name: </label>
		<input type="text" name="name" class="form-control" placeholder="What is your Team Name?"> 
	</div>
	<div class="form-group">
		<label> Team Members: </label>
		<input type="text" name="members" class="form-control" placeholder="Who are your team members?">
	</div>
	<input type="submit" value="Register Team" class="btn btn-success">
</form>