<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Fast-paced, high-stakes!</h2>

    <p>Come down to General Assembly and participate in a high-stakes poker tournament.</p>

    <p>No glasses or scarves allowed.</p>

    <p><strong>Absolutely no</strong> cellphones or ear buds. Period.</p>

    <p>Bring your best poker face.</p>

    <p class="text-danger">Good luck</p>
  </div>
</div>
